body {
    background-image: linear-gradient(rgb(51,51,51), #2f3037);
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}
.web-part {
    display: inline-block;
}
.nav-side {
    width: auto;
    background-color: #1c1a1a;
    height: 100%;
    position: sticky;
}
.nav-side h1 {
    padding: 10px;
    text-align: center;
    color: cornflowerblue;
}
.nav-side h3 {
    padding: 10px;
    text-align: center;
}
.nav-side h2:hover {
    background-color: cornflowerblue;
}
.nav-side h2 {
    padding: 20px 10px 20px 10px;
    text-align: center;
}
.nav-side ul li {
    list-style: none;
    padding: 10px;
}
.nav-side ul li a {
    text-decoration: none;
    color: #ffffff;
}
.nav-side ul li:hover {
    border-bottom: 1px solid cornflowerblue;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.nav-side ul li:active {
    background-color: cornflowerblue;
}
.content-side {
    margin: auto;
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 78%;
}
.landing .img1  {
    width: 20%;
}
.landing ul li {
    list-style: none;
    display: inline-block;
}
.landing ul li img {
    width: 20px;
    padding: 10px;
}
.landing ul {
    background-color: #1c1a1a;
    border-radius: 10px;
}
.skills-lan img {
    width: 50px;
    padding: 10px;
    align-content: center;
}
.landing button {
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid cornflowerblue;
    margin-top: 20px;
    color: #ffffff;
}
.landing button:active {
    border: 1px solid rebeccapurple;
    outline: none;
}
.active {
    background-color: cornflowerblue;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
